\.HA_VERSION
\.uuid
home-assistant_v2\.db
home-assistant\.log
secrets\.yaml
tts/
\.cloud/
entity_registry\.yaml
plex\.conf
\.config_entries\.json
\.storage/core\.config_entries
\.google_maps_location_sharing\.cookies
known_devices\.yaml
\.storage/

\.ring_cache\.pickle
